.container {
    width: 920px;
}

label{
    width: 100%;
    flex-wrap: wrap;
    border: 0rem;
    border-radius: 0.5rem;
}

input{
    width: 70%;
    padding: 0.3rem;
    margin: 1rem;;
    border-radius: 0.5rem;
    border-color: dimgray;
}

.input-group{
    align-items: center;
    text-align: center;
    width: auto;
}